check4.txt
[
    {
        "id": "b5231a88.334408",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4b54ede9.4a3584",
        "type": "http response",
        "z": "b5231a88.334408",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "9a87e160.32528",
        "type": "debug",
        "z": "b5231a88.334408",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "e39df35a.2149b",
        "type": "http in",
        "z": "b5231a88.334408",
        "name": "",
        "url": "/pin4",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "35880cd.f41bef4"
            ]
        ]
    },
    {
        "id": "689dcfdd.9a2b7",
        "type": "rpi-gpio in",
        "z": "b5231a88.334408",
        "name": "GPIO4",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": true,
        "x": 210,
        "y": 360,
        "wires": [
            [
                "cbde8ef0.e1f6e"
            ]
        ]
    },
    {
        "id": "cbde8ef0.e1f6e",
        "type": "function",
        "z": "b5231a88.334408",
        "name": "Set GPIO",
        "func": "global.set(\"GPIO\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "9a87e160.32528"
            ]
        ]
    },
    {
        "id": "35880cd.f41bef4",
        "type": "function",
        "z": "b5231a88.334408",
        "name": "Get GPIO",
        "func": "msg.payload =  global.get(\"GPIO\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "9a87e160.32528",
                "4b54ede9.4a3584"
            ]
        ]
    }
]